<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <div class="col-4 col-12-medium">
                    <section>
                        <a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a>
                    </section>
                </div>

                <div class="col-4 col-12-medium">
                    <section>
                        <header>
                        </header>
                        <ul class="social">
                            <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                            <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                            <li><a class="icon brands fa-youtube" href="#"><span class="label">Youtube</span></a></li>
                            <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-12">

                    <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <li>&copy; SpudSpicer. All rights reserved.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
</section>