<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-4 off-4 col-12-medium">
                <!-- Hide socials until we have them setup
    <section>
        <header>
        </header>
        {%- include social.html -%}
    </section>
            -->
            </div>
    </div>
    <div class="row">
            <div class="col-12">

                <!-- Copyright -->
                <div>
                    <ul class="links">
                        <li>&copy; Spud Spicer Pty Ltd. All rights reserved.</li>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
        </div>
</section>