<section id="header">
    <div id="navlogo">
    </div>
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li class="current"><a href="/">HOME</a></li>
            <li class="current"><a href="#about">ABOUT</a></li>
            <li class="current"><a href="#team">TEAM</a></li>
            <li class="current"><a href="#games">GAMES</a></li>
            <li class="current"><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id="banner">
        <br>
        <br>
        {%- if page.banner_image -%}
            <img src="{{ page.banner_image }}" alt="" title="">
        {%- endif -%}
        <div>
            <header>
                {%- if page.title -%}
                    <h2>{{ page.title }}</h2>
                {%- endif %}
                {%- if page.subheading -%}
                    <p>{{ page.subheading }}</p>
                {%- endif %}
            </header>
        </div>
    </section>
</section>