<div class="col-6 col-12-small">
    <section class="box">
        <a href="#" class="image featured"><img src={{staff_member.feature_image}} alt="" /></a>
        <header>
            <h1 style="text-transform: uppercase">{{staff_member.name}}</h1>
            <p style="text-transform: uppercase">{{staff_member.role}}</p>
        </header>
        <p>{{staff_member.feature_description}}</p>
        <footer>
            <ul class="actions">
                <li><a target="_blank" href={{staff_member.website}} class="button icon solid fa-file-alt">WEBSITE</a></li>
            </ul>
        </footer>
    </section>
</div>